<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceName" value="WatchLockAI" />
    <add key="ServiceDisplayName" value="WatchLockAI Endpoint Security" />
    <add key="ServiceDescription" value="Autonomous AI-powered cybersecurity endpoint agent" />
    <add key="LogLevel" value="Information" />
    <add key="ConsoleEndpoint" value="https://console.watchlockai.com" />
    <add key="UpdateInterval" value="60" />
    <add key="MemoryLimit" value="512" />
  </appSettings>
  
  <system.diagnostics>
    <sources>
      <source name="WatchLockAI" switchValue="Information">
        <listeners>
          <add name="eventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="WatchLockAI" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>